/*=========================================
##### task - 1 
============================================ **/

a{
    text-decoration: none;
}

/***==========================================
### header 
============================================***/
.header-section{
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05)
}
.header-section nav a:hover{
    text-decoration: underline;
}
.main-body-content{
    max-width: 700px;
    margin: 0 auto;
}
.main-body-content p{
    font-size: 1.25rem;
    font-weight: 300;
}
.main-body-content h1{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}